header {
    height: 100px;
    width: 100%;
    background: black;
    color: wheat;
}

aside {
    height: 750px;
    width: 30%;
    background: red;
    float: left;
}

ul {
    list-style: none;
}

main {
    height: 750px;
    width: 70%;
    float: left;
}

table {
    border: 2px solid black;
    width: 85%;
    text-align: center;
}

thead {
    font-size: 22px;
    color: red;
}

tbody {
    background: gray;
    color: white;
}

tfoot {
    background: black;
    color: white;
}